<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Radio Menu</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Internet Radio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="radio.html">Radio Stations</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Saved Music</a></li>
                    <li class="nav-item"><a class="nav-link" href="control.html">Parental Controls</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Hi, User1</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="upload-music.html">Upload Music</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Playlists</a></li>
    </ul>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">Playlist 1</a></li>
        <li class="nav-item"><a class="nav-link" href="playlist-2.html">Playlist 2</a></li>
    </ul><div class="table-responsive">
    <form method="POST">
    <table class="table">
        <thead>
            <tr>
                <th>Music Name</th>
                <th>Include</th>
            </tr>
        </thead>
        <tbody>
            {% for music in all_music %}
            <tr>
                <td>{{music['name']}}</td>
                <td>
                    {%if pl1 is none %}
                    <input id="formCheck-1" class="form-check-input" type="checkbox" name="music" value="{{music['filename']}}" />
                        
                            {% elif music['filename'] in pl1 %}
                            <input id="defaultCheck1" class="form-check-input" type="checkbox" name="music" value="{{music['filename']}}" checked/>
                            {% else %}
                            <input id="formCheck-1" class="form-check-input" type="checkbox" name="music" value="{{music['filename']}}" />
                            {% endif %}
                        
                    
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <button class="btn btn-primary pull-right btn-lg" type="submit">Submit</button>
</form>
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>