<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Radio Menu</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1>Hi, User1</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><a id="Radio" class="btn btn-primary btn-lg btn-block" href="#" role="button">Radio</a><a id="Saved-Music" class="btn btn-primary btn-lg btn-block" href="music.html" role="button">Saved Music</a><a id="Parental-Controls" class="btn btn-primary btn-lg btn-block" href="control.html" role="button">Parental Controls</a></div>
            <div class="col-md-8"><div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Station Name</th>
                <th>Enable</th>
            </tr>
        </thead>
        <tbody>
            {% for station in stations%}
            <tr>
                <td>{{station.name}}</td>
                <td>{{station.state}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>