<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Radio Menu</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Internet Radio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="radio.html">Radio Stations</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Saved Music</a></li>
                    <li class="nav-item"><a class="nav-link" href="control.html">Parental Controls</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Hi, User1</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">Upload Music</a></li>
        <li class="nav-item"><a class="nav-link" href="playlist-music.html">Playlists</a></li>
    </ul><div class="row">
    <div class="col">
    <form method="POST" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="music_name">Music Name:</label>
            {% if disabled %}
  <input type="text" size="50" id="music_name" name="music_name" disabled>
            {% else %}
            <input type="text" size="50" id="music_name" name="music_name">
            {%endif%}
            <br>
            <label>Select Music</label>
            <div class="custom-file">
                {% if disabled %}
                <input type='file' class='custom-file-input' name="music" id="music" disabled>
                {% else %}
                <input type='file' class='custom-file-input' name="music" id="music" >
                {% endif %}
                <label class="custom-file-label" for="music">Select Music...</label>
            </div>
        </div>
        {% if disabled %}
        <button type="submit" class="btn btn-primary" disabled>Upload</button>
        {% else %}
        <button type="submit" class="btn btn-primary" >Upload</button>
        {% endif %}
    </form>
    </div>

</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>